<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/main.css" th:href="@{/css/main.css}">
  <title>Title</title>
</head>
<body>
<h1>Output</h1>

<div th:switch="${choice.pick}">
  <p th:case="0">You chose Rock</p>
  <p th:case="1">You chose Paper</p>
  <p th:case="2">You chose Scissors</p>
</div>

<div th:switch="${opponent.oppPick}">
  <p th:case="0">Opponent chose Rock</p>
  <p th:case="1">Opponent chose Paper</p>
  <p th:case="2">Opponent chose Scissors</p>
</div>

<div th:class="winner" th:text="${winner.getStatus(choice,opponent)}">value</div>


<p>
  <a href="Input.html" th:href="@{Input}">Play Again!</a>
</p>
<footer>Sheridan, Peter Drab</footer>
</body>
</html>